.dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-dialog-content {
  display: flex;
  justify-content: space-between;
  
  .selected-products-table {
    width: 45%;
    height: fit-content;
  }

  h4 {
    padding: 0 16px;
    margin-bottom: unset;
  }
}

@media screen and (max-width: 600px) {
  .mat-dialog-content {
    flex-direction: column;

    .selected-products-table {
      width: 90%;
    }
  }
}
